* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { background:  url(img/bgc.jpg) no-repeat; }

.quiz__container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz__time {
  padding: 15px 20px;
  margin-bottom: 50px;
  background-color: #fff;
  font-size: 24px;
}

.quiz__item { margin-bottom: 80px; }

.quiz__title {
  margin-bottom: 60px;
  font-size: 30px;
  text-transform: uppercase;
}

.quiz__title,
.quiz__answers {
  padding: 15px 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  color: #333;
}

.quiz__answers {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.quiz__answer-item {
  margin-right: 50px;
  font-size: 24px;
  cursor: pointer;
}

.quiz__answer-item:last-child { margin-right: 0;}

.quiz__answer-item:hover { color: red; }

.btn {
  padding: 15px;
  margin-right: 20px;
  font-size: 22px;
  background-color: rgb(250, 158, 9);
  color: #000;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover { opacity: .8; }